* {
  font-family: Verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  color: #fff;
}
body {
  height: 100vh;
  width: 100%;
  background: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  background-color: #222222;
  height: 80vh;
  width: 60%;
  border-radius: 1rem;
  text-align: center;
}
#heading {
  margin-top: 20px;
  font-size: 2.5rem;
  font-weight: bold;
}
#textBox {
  font-size: 2rem;
  width: 20%;
  color: #000;
  text-align: center;
  border-radius: 0.4rem;
}
#numTray {
  margin: 50px;
  font-size: 2rem;
}
#rollBtn {
  font-size: 1.8rem;
  font-family: Arial;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 0.4rem;
  background-color: #306fdb;
}
#rollBtn:hover {
  background-color: #005eff;
}
#diceResult {
  font-size: 1.5rem;
  margin: 25px;
}
#diceImg img {
  width: 150px;
}
